{% extends 'base.html' %} {% block content %}

<h1>Poster Details</h1>

<div class="row">
  <div class="col 26">
    <div class="card">
  <div class="card-content">
    <span class="card-title">{{ poster.band }}</span>
    <p>Cardstock: {{ poster.stock }}</p>
    <p>Description: {{ poster.description }}</p>
    {% if poster.printed > 1900 %}
    <p>Printed: {{ poster.printed }}</p>
    {% else %}
    <p>Printed: Unknown</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'posters_update' poster.id %}">Edit</a>
    <a href="{% url 'posters_delete' poster.id %}">Delete</a>
    <a href='/posters'>Return to Posters</a>
  </div>
</div>
<div class="col s6">
    <form action="" method="POST">
        {% csrf_token %}
        {{ variation_form.as_p }}
        <input type="submit" value="Add Variation" class="btn blue">
    </form>
  <table class="striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      {% for variation in poster.variation_set.all %}
        <tr>
          <td>{{variation.date}}</td>
          <td>{{variation.get_option_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_option')
    M.FormSelect.init(selectEl);
</script>


{% endblock %}