{% extends 'base.html' %} {% block content %}

<h1>Poster List</h1>

{% for poster in posters %}
<div class="card">
  <a href="/posters/{{ poster.id }}">
    <div class="card-content">
      <span class="card-title">{{ poster.band }}</span>
      <p>Cardstock: {{ poster.stock }}</p>
      <p>Description: {{ poster.description }}</p>
      {% if poster.printed > 1900 %}
      <p>Printed: {{ poster.printed }}</p>
      {% else %}
      <p>Printed: Unknown</p>
      {% endif %}
    </div>
  </a>
</div>

{% endfor %} {% endblock %}